<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSString" connectionString="Data Source=DESKTOP-U4LB68R\SQLEXPRESS;Initial Catalog=Fairdeal db;User Id=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="Fairdeal_Kashmir_Salary_Software.Properties.Settings.Fairdeal_dbConnectionString"
            connectionString="Data Source=DESKTOP-U4LB68R\SQLEXPRESS;Initial Catalog=&quot;Fairdeal db&quot;;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
</configuration>


